<nav class="navbar navbar-expand-lg bg-light custom-navbar">
  <div class="container-fluid d-flex justify-content-start align-items-center">

    <!-- LEFT SIDE: Brand + BUY | RENT | SELL -->
    <div class="navbar-left d-flex align-items-center">
      <span class="navbar-brand text-primary">
        <a class="nav-link" [routerLink]="['/']">KejaHUnT</a>
      </span>
      <div class="nav-links d-flex gap-3 fw-semibold ms-3">
        <a class="nav-link" [routerLink]="['/buy']">BUY</a>
        <span>|</span>
        <a class="nav-link" [routerLink]="['/rent']">RENT</a>
        <span>|</span>
        <a class="nav-link" [routerLink]="['/sell']">SELL</a>
      </div>
    </div>

  </div>
</nav>
