<div class="container my-5">

    <h1 class="text-center text-primary mb-4">Edit Tenant</h1>
  
    <ng-container *ngIf="model">
    
      <form #form="ngForm" (ngSubmit)="onFormSubmit()" class="form-container">
        <div class="form-group mb-4">
          <label for="fullName" class="form-label">Full Name</label>
          <input type="text" id="fullName" name="fullName" class="form-control custom-input" [(ngModel)]="model.fullName" required>
        </div>
  
        <div class="form-group mb-4">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input type="text" id="phoneNumber" name="phoneNumber" class="form-control custom-input" [(ngModel)]="model.phoneNumber" required>
        </div>
  
        <div class="form-group mb-4">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" name="email" class="form-control custom-input" [(ngModel)]="model.email" required>
        </div>
  
        <div class="form-group mb-4">
          <label for="idNo" class="form-label">ID Number</label>
          <input type="number" id="idNo" name="idNo" class="form-control custom-input" [(ngModel)]="model.idNo" required>
        </div>
  
        <div class="form-group mb-4">
          <label for="employer" class="form-label">Employer</label>
          <input type="text" id="employer" name="employer" class="form-control custom-input" [(ngModel)]="model.employer" required>
        </div>
  
        <div class="form-group mb-4">
          <label for="employer" class="form-label">Unit</label>
          <input type="number" id="unitId" name="unitId" class="form-control custom-input" [(ngModel)]="model.unitId" required>
        </div>

        <!-- Updated By -->
        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary px-4 py-2">Save</button>
          <button type="button" class="btn btn-danger px-4 py-2" (click)="onDelete()">Delete</button>
        </div>
      </form>
  
    </ng-container>
  
  </div>
  