<mat-horizontal-stepper linear>

  <!-- STEP 1 -->
  <mat-step [stepControl]="addTenantForm">
    <ng-template matStepLabel>Tenant Profile</ng-template>

    <app-add-tenant-step
      #addTenant
      [unitId]="unitId">
    </app-add-tenant-step>

    <div class="form-actions">
      <button mat-raised-button color="primary"
              (click)="submitTenantAndContinue()">
        Continue
      </button>
    </div>
  </mat-step>

  <!-- STEP 2 -->
  <mat-step>
    <ng-template matStepLabel>Booking</ng-template>

    <app-create-booking-step
      #createBooking
      [unitId]="unitId"
      [tenantId]="tenantId"
      [stepper]="stepper">
    </app-create-booking-step>
  </mat-step>

  <!-- STEP 3 -->
  <mat-step>
    <ng-template matStepLabel>Payment</ng-template>

    <app-payment-step
      #paymentStep
      [amount]="paymentAmount">
    </app-payment-step>

    <div class="form-actions">
      <button mat-raised-button color="primary"
              (click)="submitPaymentStep()">
        Pay
      </button>
    </div>
  </mat-step>

</mat-horizontal-stepper>
